@import url('thumbnail.css');
@import url('custom-checkbox.css');
.container-shop{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2rem 0;
}
.left-shop{
    width: 17%;
}
.right-shop{
    width: 70%;
    margin: 0 1rem;
}
.left-shop ul h4{
    color: #555;
    font-size: 1rem;
    padding: 13px 10px;
    background: #F7F7F7;
    border: 1px solid #E6E6E6;
    text-transform: uppercase;
    font-weight: 300;
}

  /* toolbar pagination  */
  .toolbar{
      display: flex;
      justify-content: space-between;
      color: #555;
      font-size: 1rem;
      padding: 5px 10px;
      background: #F7F7F7;
      border: 1px solid #E6E6E6;
      text-transform: capitalize;
      align-items: center;
  }
  .sort select{
      outline: none;
  }
  .sort label{
    font-size: 0.9rem;
  }
  .pager{
      display: flex;
  }
  .pagination {
    display: flex;
  }
  
  .pagination a {
    color: black;
    padding: 8px 16px;
  }
  
  .pagination a.active {
    background-color: #d5d5dd;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  /* main shop */

.main-shop{
    display: grid;
    margin: 1rem 0;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    justify-items: center;
}